button{
  border: 1px solid #CADBDA;
  background: #FFFFFF;
  padding: 10px;
  font-size: 12pt;
  cursor: pointer;
  white-space: nowrap;
}
button:hover{
  border-color: black;
  background: #fcfcfc;
}

input{
  background-color: #ddd;
  font-size: 12pt;
  border: 1px solid black;
  padding: 5px;
}

textarea{
  height: 10em;
  font-size: 12pt;
}

/* Hidden input fields - visible on focus (click) */

.hiddenField:hover{
  color: #434343;
}

.hiddenField:not(:focus){
  background: transparent;
  border: 0px;
}
