button{
  border: 1px solid #CADBDA;
  background: #FFFFFF;
  filter:opacity(0.5);
}

input{
  border: 2px solid gray;
  box-sizing: border-box;
}

/* Hidden input fields - visible on focus (click) */

.hiddenField:hover{
  color: gray;
}

.hiddenField:not(:focus){
  background: transparent;
  border: 0px;
}
