button{
  border: 1px solid #CADBDA;
  background: #FFFFFF;
  filter:opacity(0.5);
  padding: 10px;
  font-size: 12pt;
}
button:hover{
  border: 1px solid #CADBDA;
  background: #FFFFFF;
  filter:opacity(1);
  cursor: pointer;
}

input{
  border: 0px solid gray;
  background-color: #FFFFFFaa;
}

/* Hidden input fields - visible on focus (click) */

.hiddenField:hover{
  color: #434343;
}

.hiddenField:not(:focus){
  background: transparent;
  border: 0px;
}
