html{
}

body{
  /* LAYOUT */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;

  margin: 0;

}

#app{
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#router{
  flex: 1;
}

.fullWidth{
  width: 100%;
}
