html{
  height: 100%;
}

body{
  /* LAYOUT */
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

#app{
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  height: 100%;
}

#router{
  flex: 1;
}

.fullWidth{
  width: 100%;
}
