html{
  height: 100%;
}
* {
  box-sizing: border-box;
}

body{
  /* LAYOUT */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

#app{
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 20px;
}

#router{
  flex: 1;
  overflow: hidden; 
}

.fullWidth{
  width: 100%;
}

.z0{
  z-index: 0
}

.z1{
  z-index: 1
}

.z2{
  z-index: 2
}
