@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,600');

body{
  font-family: "Open Sans";
}

a{
  text-decoration: none;
  font-weight: 600;
  color: rgb(140,30,90);
}

a:hover{
  text-decoration: underline;
}

h1{
  font-family: "Roboto Condensed";
}

h2{
  font-family: "Roboto Condensed";
  background: rgb(235,205,225);
  padding: 5px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.1em;
}

h3{
  font-family: "Roboto Condensed";
  margin-bottom: 0.1em;
}
