.fade-enter-active {
  transition: all 1s ease-out;
}

.fade-leave-active {
transition: all 0.5s;
}

.fade-enter, .fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(0px);
}

.fade-leave-active {
  /*position: absolute !important;
  display: inline;
  box-sizing: border-box;*/
}
